<!DOCTYPE HTML>

<html>
	<head>
		<title>YijingLai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/main.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="templates/index.html">Yijing Lai</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="templates/index.html">Home</a></li>
								<li><a href="{{url_for('generic')}}">Generic</a></li>
								<li><a href="{{url_for('elements')}}">Elements</a></li>
								<li><a href="{{url_for('login')}}">Log In</a></li>
								<li><a href="{{url_for('register')}}">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>
			</div>
	</body>
</html>
